body{
			background: linear-gradient(to right bottom, #1cc7d0 ,#013ca6, #013ca6,#1cc7d0);
			height: 773px;
		}
		#login_form{
			height: 350px;
			width: 500px;
			position: absolute;
			margin: auto;
			left:0; right:0;
        	top:0; bottom:0;
        	text-align: center;
        	background: rgba(0, 0, 0, 0.22);
        	padding: 30px;
        	border-radius: 5px;
		}

		#username, #password {
			font-size: 14px;
			color: #000000;
			padding: 12px 12px 12px 40px;
		    width: 85%;
		    border: none;
		    margin-bottom: 12px;
		    letter-spacing: 1px;
		}

		#btn{
			background: #19b9cc;
			border: none;
			color: #fff;
			width: 96%;
			height: 40px;
			text-transform: uppercase;
			font-size: 15px;
			font-weight: bold;
			
		}

		#btn:hover{
			background:#00e5ff;
			cursor: pointer;
		}

		#title{
			color: #fff;
		    font-size: 28px;
		    font-weight: 500;
		    text-transform: uppercase;
		    letter-spacing: 2px;
		}